.navbar-nav {
  transition: 0.3s ease-in;

  > a {
    padding: 1rem;
    font-size: 18px;
    transition: 0.3s ease-in;
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
    &:hover {
      color: $primaryColor;
    }
    .sub-menu {
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
      position: absolute;
      width: 300px;
      top: 100%;
      display: none;
      z-index: 9999;
      a {
        display: block;
        padding: 0.8rem;
        background-color: #fff;
        font-size: 15px;
        transition: 0.3s ease-in;
        position: relative;
        white-space: nowrap;
        word-break: keep-all;
        .sub-sub-menu {
          position: absolute;
          left: 100%;
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
          width: 300px;
          z-index: 9999;
          top: 0;
          display: none;
        }
        @media (min-width: 1200px) {
          &:hover {
            background-color: $primaryColor;
            color: #fff !important;
          }
        }
        &:hover {
          .sub-sub-menu {
            display: block;
          }
        }
      }
    }
    &:hover .sub-menu {
      display: block;
    }
  }
  button {
    border: 1px solid #333;
    border-radius: 1rem;
  }
}
.nav-bar-toogler {
  border: none;
  svg {
    font-size: 2rem;
    color: $primaryColor;
  }
  display: none;

  @media (max-width: 1200px) {
    display: block;
  }
}
@media (max-width: 1200px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
  .navbar-expand-lg .navbar-collapse.hide-nav {
    left: -100% !important;
    transition: 0.3s ease-in;
  }
}
@media (max-width: 1200px) {
  .navbar-expand-lg .navbar-collapse.show-nav {
    display: flex !important;
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    width: 300px;
    transition: 0.3s ease-in;
    z-index: 999;
    .navbar-nav {
      flex-direction: column;
      margin-left: 0 !important;
      height: 100%;
      width: 100%;
      > a {
        .sub-menu {
          display: block;
          position: initial;
          background-color: transparent;
          box-shadow: none;
          height: 0;
          overflow: hidden;
          transition: 0.3s ease-in;
        }
        .sub-sub-menu {
          display: block;
          position: initial;
          background-color: transparent;
          box-shadow: none;
          height: 0;
          overflow: hidden;
          transition: 0.3s ease-in;
        }
        .sub-menu.open,
        .sub-sub-menu.open {
          height: auto;
        }
      }
    }
  }
}
